{% load static %}
<table class="bookings-table w-full border-collapse border-2 bg-white rounded-md p">
    <thead class="bg-gray-100">
        <tr>
            <th scope="col">Nr</th>
            <th scope="col">Apart.</th>
            <th scope="col" class="text-center">Od</th>
            <th scope="col" class="text-center">Do</th>
            <th scope="col" class="text-center">Noce</th>
            <th scope="col" class="text-center">Gość</th>
            <th scope="col" class="text-align-cl info-cell">Uwagi</th>
            <th scope="col" class="text-align-cl lg:max-w-[120px]">
                <span class="sr-only">Akcje</span>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr {% if booking.status == "cancelled" %} class="text-red-800 font-semibold" {% endif %}>
            <!-- <td data-title="Lp.">{{ forloop.counter0|add:page_obj.start_index }}.</td> -->
            <td data-title="Lp."><a href="{% url 'bookings_app:booking' booking.id %}"
                class="font-semibold text-sky-800 underline hover:no-underline">#{{ booking.id }}</a></td>
            <td data-title="Apartament:" class="font-semibold">{{ booking.apartment.name }}</td>
            <td data-title="Od:">{{ booking.date_from|date:"d.m.y" }}</td>
            <td data-title="Do:">{{ booking.date_to|date:"d.m.y" }}</td>
            <td data-title="Do:">{{ booking.nights_num }}</td>
            <td data-title="Gość:">
                {% if booking.guest %}{{ booking.guest }}{% endif %}
            </td>
            <td data-title="Uwagi:">
                {% if booking.paid %}
                <svg class="w-6 h-6 inline-block fill-lime-600">
                    <use xlink:href="{% static 'img/sprite.svg#credit' %}"
                        href="{% static 'img/sprite.svg#credit' %}" />
                </svg>
                {% endif %}
                {% if booking.notes %}(...){% endif %}
            </td>
            <td class="lg:w-32 px-2">
                <div class="mx-auto flex flex-wrap gap-1 items-center justify-start">
                    {% comment %} <a href="{% url 'bookings_app:booking' booking.id %}" class="">
                        <svg class="w-6 h-6 inline-block fill-gray-700 mx-1">
                            <use xlink:href="{% static 'img/sprite.svg#search' %}" href="{% static 'img/sprite.svg#search' %}" />
                        </svg>
                        <span class="sr-only">Szczegóły</span>
                    </a> {% endcomment %}
                    <a href="{% url 'bookings_app:update_booking' booking.id %}"
                        role="button"
                        title="Edytuj"
                        class="inline-flex justify-center items-center border-2 border-gray-300 rounded-md px-1 py-1
                        hover:bg-gray-100 transition-colors duration-300 fill-gray-700">
                        <svg class="w-5 h-5 inline-block">
                            <use xlink:href="{% static 'img/sprite.svg#pencil' %}" href="{% static 'img/sprite.svg#pencil' %}" />
                        </svg>
                    </a>
                    <button type="button"
                        title="Usuń"
                        class="inline-flex justify-center items-center border-2 border-red-300 rounded-md px-1 py-1
                        hover:bg-red-100 transition-colors duration-300"
                        hx-delete="{% url 'bookings_app:delete_booking' booking.id %}"
                        hx-target="closest tr"
                        hx-swap="outerHTML"
                        confirm-swal="rezerwację
                        <br>
                        w Apartamencie {{ booking.apartment.name }}
                        <br>
                        od {{ booking.date_from|date:'d.m.y' }} do
                        {{ booking.date_to|date:'d.m.y' }}?">
                        <svg class="w-5 h-5 inline-block fill-gray-700">
                            <use xlink:href="{% static 'img/sprite.svg#trash' %}"
                                href="{% static 'img/sprite.svg#trash' %}" />
                        </svg>
                    </button>
                    {% if booking.status == "cancelled" %}
                        {% if not booking.cancellation_email_sent and booking.email %}
                        <button
                            hx-post="{% url 'bookings_app:email_status' booking.id %}"
                            hx-target="this"
                            hx-swap="outerHTML"
                            hx-indicator="#loader-{{booking.id}}, #ebtn-{{booking.id}}"
                            confirm-swal="chcesz wysłać informację o anulowaniu rezerwacji"
                            title="Wyślij e-mail z informacją o anulowaniu rezerwacji"
                            id="ebtn-{{booking.id}}"
                            class="ebtn inline-flex justify-center items-center px-1 py-1 fill-red-700 border-2
                            rounded-md border-gray-400 hover:bg-red-100 transition-colors duration-300">
                            <svg class="eicon w-5 h-5">
                                <use xlink:href="{% static 'img/sprite.svg#at' %}" href="{% static 'img/sprite.svg#at' %}" />
                            </svg>
                            <div id="loader-{{booking.id}}" class="loader hx-indicator h-5 w-5"></div>
                        </button>
                        {% endif %}
                        {% if booking.cancellation_email_sent == True %}
                        <p class="inline-block fill-red-700">
                            <svg class="w-6 h-6 inline-block">
                                <use xlink:href="{% static 'img/sprite.svg#check2' %}" href="{% static 'img/sprite.svg#check2' %}" />
                            </svg>
                            <span class="sr-only">Powiadomiono o anulowaniu rezerwacji</span>
                        </p>
                        {% endif %}
                    {% endif %}
                    {% if booking.status == "confirmed" %}
                        {% if not booking.confirmation_email_sent and booking.email %}
                        <button id="ebtn-{{booking.id}}"
                            hx-post="{% url 'bookings_app:email_status' booking.id %}"
                            hx-swap="outerHTML"
                            hx-indicator="#loader-{{booking.id}}, #ebtn-{{booking.id}}"
                            hx-target="this"
                            confirm-swal="chcesz wysłać informację o potwierdzeniu rezerwacji"
                            title="Wyślij e-mail z informacją o potwierdzeniu rezerwacji"
                            class="ebtn inline-flex justify-center items-center px-1 py-1 fill-green-500 border-2
                            rounded-md border-gray-400 hover:bg-green-100 transition-colors duration-300">
                            <svg class="eicon w-5 h-5">
                                <use xlink:href="{% static 'img/sprite.svg#at' %}" href="{% static 'img/sprite.svg#at' %}" />
                            </svg>
                            <div id="loader-{{booking.id}}" class="loader hx-indicator h-5 w-5"></div>
                        </button>
                        {% elif booking.confirmation_email_sent is True %}
                        <p class="inline-block fill-green-500">
                            <svg class="w-6 h-6 inline-block">
                                <use xlink:href="{% static 'img/sprite.svg#check2' %}" href="{% static 'img/sprite.svg#check2' %}" />
                            </svg>
                            <span class="sr-only">Powiadomiono o potwierdzeniu</span>
                        </p>
                        {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'includes/pagination.html' %}