{% load wagtailcore_tags bookings_tags %}
{% load static %}
<li><a href="#" class="menu-close flex items-center gap-1">
    <svg class="w-6 h-8 inline-block">
        <use xlink:href="{% static 'img/sprite.svg#list' %}" />
    </svg>Rezerwacje</a>
</li>
<li><a href="#" class="menu-close flex items-center gap-1">
    <svg class="w-6 h-6 inline-block">
        <use xlink:href="{% static 'img/sprite.svg#calendar' %}" />
    </svg>
    Kalendarz</a></li>
<li><a href="#" class="menu-close flex items-center gap-1">
    <svg class="w-6 h-6 inline-block">
        <use xlink:href="{% static 'img/sprite.svg#plus' %}" />
    </svg>Dodaj</a></li>
<li>
    <a href="#" class="menu-close flex items-center gap-1">
    <svg class="w-6 h-6 inline-block">
    <use xlink:href="{% static 'img/sprite.svg#logout' %}" />
</svg>
<span>Wyloguj</span></a>
</li>