{% load wagtailcore_tags bookings_tags %}
{% load static %}
<nav class="relative bg-gradient-to-r to-amber-300  from-blue-300  ">
    <div class="wrapper  max-w-7xl flex justify-between w-full mx-auto py-2">
        <div class="p-2 w-32 h-auto bg-gray-100 rounded-md z-40 ml-2">
            <a href="/">
                <img src="{% static 'img/logoadminnobg.png' %}" alt="logo" class="inline-block w-full" />
            </a>
        </div>

        <button
            class="absolute right-0 hamburger hamburger--spring z-90 flex-shrink mdl:hidden sm:hidden w-14 h-10 mr-5 mt-3"
            type="button" aria-controls="nav-list" aria-haspopup="true" aria-expanded="false" aria-label="Menu" style="z-index:100;">
            <span class="hamburger-box" role="presentation"
                ><span class="hamburger-inner" role="presentation"></span></span>
        </button>
        {% if not page %}
        <ul
            class="fixed -mt-2 z-50 nav-list scale-0 opacity-0 max-h-0 h-dvh transition-all duration-300
            origin-top-right sm:hidden flex flex-col justify-center
            gap-10 items-center max-w-6xl w-full text-lg font-semibold uppercase pr-2 bg-gray-100">
            {% include 'includes/admin-nav-content.html' %}
        </ul>
        <ul
            class="sticky z-50 hidden sm:flex justify-end gap-5 items-center w-full text-lg
            font-semibold uppercase px-5">
            {% include 'includes/admin-nav-content.html' %}
        </ul>
        {% else %}
                <ul
            class="fixed -mt-2 z-50 nav-list scale-0 opacity-0 max-h-0 h-dvh transition-all duration-300
            origin-top-right sm:hidden flex flex-col justify-center
            gap-10 items-center max-w-6xl w-full text-lg font-semibold uppercase pr-2 bg-gray-100">
            {% include 'includes/nav-content.html' %}
        </ul>
        <ul
            class="sticky z-50 hidden sm:flex justify-end gap-5 items-center w-full text-lg
            font-semibold uppercase px-5">
            {% include 'includes/nav-content.html' %}
        </ul>
        {% endif %}
    </div>
</nav>