{% load wagtailcore_tags %}
{% load static %}
<div class="flex flex-wrap gap-3 justify-evenly ">
    {% if ap1_dates %}
    <div class="mb-3 ">
        <h2 class="text-center mb-5 mt-2 text-lg font-semibold">Apartament nr {{ ap1_dates.apartment.name }} <span class="font-normal text-base">
            ({{ ap1_dates.apartment.apartment_type.type_name }})</span></h2>
        {% include 'includes/calendar.html' with dates=ap1_dates.dates arrival_dates=ap1_dates.arr_dates departure_dates=ap1_dates.dep_dates %}
    </div>
    {% endif %}
    {% if ap2_dates %}
    <div class="mb-3">
        <h2 class="text-center mb-5 mt-2 text-lg font-semibold">Apartament nr {{ ap2_dates.apartment.name }} <span class="font-normal text-base">
            ({{ ap2_dates.apartment.apartment_type.type_name }})</span></h2>
        {% include 'includes/calendar.html' with dates=ap2_dates.dates arrival_dates=ap2_dates.arr_dates departure_dates=ap2_dates.dep_dates %}
    </div>
    {% endif %}
</div>
<div class="flex flex-wrap gap-3 justify-evenly">
    {% if ap3_dates %}
    <div class="mb-3">
        <h2 class="text-center mb-5 mt-2 text-lg font-semibold">Apartament nr {{ ap3_dates.apartment.name }} <span class="font-normal text-base">
            ({{ ap3_dates.apartment.apartment_type.type_name }})</span></h2>
        {% include 'includes/calendar.html' with dates=ap3_dates.dates arrival_dates=ap3_dates.arr_dates departure_dates=ap3_dates.dep_dates %}
    </div>
    {% endif %}
    {% if ap4_dates %}
    <div class="mb-3">
        <h2 class="text-center mb-5 mt-2 text-lg font-semibold">Apartament nr {{ ap4_dates.apartment.name }} <span class="font-normal text-base">
            ({{ ap4_dates.apartment.apartment_type.type_name }})</span></h2>
        {% include 'includes/calendar.html' with dates=ap4_dates.dates arrival_dates=ap4_dates.arr_dates departure_dates=ap4_dates.dep_dates %}
    </div>
    {% endif %}
</div>

