{% load wagtailcore_tags bookings_tags %}
{% load static %}


<div class="mb-3">
    <h2 class="text-center mb-5 mt-2 text-lg font-semibold">Apartament nr {{b1_name}}</h2>
    {% include 'includes/calendar.html' with dates=b1_dates arrival_dates=b1_arrival_dates departure_dates=b1_departure_dates %}
</div>
<div class="mb-3">
    <h2 class="text-center mb-5 mt-2 text-lg font-semibold">Apartament nr {{b2_name}}</h2>
    {% include 'includes/calendar.html' with dates=b2_dates arrival_dates=b2_arrival_dates departure_dates=b2_departure_dates %}
</div>
