<div class="cookie-box hide fixed bottom-0 left-0 flex justify-center items-center
   flex-col p-2 max-h-3/5 w-full max-w-[100vw] sm:max-w-96 bg-gray-200 shadow-sm text-sm z-[2001]">
    <div class="cookie-wrapper relative flex items-center h-full w-full py-1 px-2 overflow-auto">
        <div class="cookie-txt">
            Strona używa plików cookies w celu poprawnego funkcjonowania. Możesz
            zarządzać cookies, zmieniając ustawienia przeglądarki.
        </div>
        <button class="cookie-btn main-button ml-3 py-1 px-2 rounded-md border-2 hover:bg-blue-100 border-gray-400 cursor-pointer
            transition-colors duration-500 outlined font-semibold bg-blue-200 text-black hover:text-black">
            OK
        </button>
    </div>
</div>