<div class="cookie-box hide fixed bottom-0 left-0 flex justify-center items-center
   flex-col p-2 max-h-3/5 w-full max-w-[100vw] sm:max-w-96 bg-gray-200 shadow-sm text-sm z-[2001]">
    <div class="cookie-wrapper relative flex items-center h-full w-full py-1 px-2 overflow-auto">
        <div class="cookie-txt">
            Pani Ulu!<br>
            Adres e-mail rezerwacji zapisuje się w pamięci sesji. Jeżeli osoba używa tej samej przeglądarki do rezerwacji,
            na te same daty, na które już wcześniej rezerwowała pobyt, to jej się to uda (nawet jeśli potem w formularzu zmieni adres e-mail).
            Chodzi o wykluczenie blokady dla kogoś, kto wraca do formularza, dlatego że się zorientował, że zrobił błąd w emailu.<br>
            Jeśli uda się Pani odtworzyć taką sytuację podwójnej rezerwacji na te same daty,  korzystając z innych przeglądarek lub urządzeń i podając inne adresy e-mail,
            to <b>bardzo proszę dać znać</b>! Im więcej różnych prób i testów, tym lepiej.
            <br>
            Lista rezerwacji została usunięta, bo jest zmieniona baza danych z lekkiej testowej, na bazę docelową.
        </div>
        <button class="cookie-btn main-button ml-3 py-1 px-2 rounded-md border-2 hover:bg-amber-100 border-amber-400 cursor-pointer
            transition-colors duration-500 outlined font-semibold bg-amber-200 text-black hover:text-black">
            OK
        </button>
    </div>
</div>