 <footer id="contact" class="lex flex-col bg-transparent">
    <div class="flex flex-col gap-10 sm:gap-2 sm:flex-row  justify-around max-w-7xl mx-auto py-10 px-2">
        <div class="flex flex-col">
            <h3 class="font-['Rozha_One'] text-3xl mb-6">Kontakt</h3>
            <div class="flex flex-col text-lg gap-2">
                <p>"Apartamenty Biwakowa 4B"</p>
                <p>ul. Biwakowa 4B, 46-045 Turawa</p>
                <a href="tel:+48{{phone}}" class="sm:mb-2">tel. {{phone}}</a>
                <hr>
                <div class="flex flex-wrap gap-3 items-center sm:mt-2 mb-2">
                    <p>GPS: 50.74062, 18.12041</p>
                    <a href="https://www.google.pl/maps/dir//50.740448,18.120431/@50.7404514,18.1178561,17z?entry=ttu"
                    class="btn-admin text-base">
                        Sprawdź dojazd</a>
                </div>
                <div class="flex flex-wrap gap-2"><p>Nr konta bankowego:</p> <p>01 0101 0101 0101 0101 0101 0101 0101</p></div>
            </div>
        </div>
        <div class="flex flex-col">
            <h3 class="font-['Rozha_One'] text-3xl mb-6">Linki</h3>
            <div class="flex flex-col text-lg gap-2">
                <a href="#">Regulamin wynajmu</a>
                <a href="#">Polityka prywatności</a>
                <a href="{% url 'bookings_app:booking-search' %}">Zarezerwuj online</a>
            </div>
        </div>
    </div>
    <div class="w-full px-2 py-4 bg-gray-200">
        <p class="mx-auto block text-center">
            &copy;{% now "Y" %} Apartamenty Biwakowa 4B |&nbsp;Wykonanie:&nbsp;<a href="mailto:luiza.cwik@gmail.com" class="outlined ml-auto">ISĆ</a>
        </p>
    </div>
</footer>