{% load static %}
<footer id="contact" class="lex flex-col bg-transparent">
    <div class="flex flex-col gap-10 sm:gap-2 sm:flex-row  justify-around max-w-7xl mx-auto py-10 px-2">
        <div class="flex flex-col">
            <p class="font-['Rozha_One'] text-3xl mb-6">Kontakt</p>
            <div class="flex flex-col text-lg gap-2">
                <p>"Apartamenty Biwakowa 4B"</p>
                <p>ul. Biwakowa 4B, 46-045 Turawa</p>
                {% if phone %}
                <a href="tel:+48{{phone}}" class="sm:mb-2">tel. {{phone}}</a>
                {% endif %}
                <hr>
                <div class="flex flex-wrap gap-3 items-center sm:mt-2 mb-2">
                    <p>GPS: 50.74062, 18.12041</p>
                    <a href="https://www.google.pl/maps/dir//50.740448,18.120431/@50.7404514,18.1178561,17z?entry=ttu"
                    class="btn-admin text-base" rel="nofollow">
                        Sprawdź dojazd</a>
                </div>
                {% if bank_account %}
                <div class="flex flex-wrap gap-2"><p>Nr konta bankowego:</p> <p>{{ bank_account }}</p></div>
                {% endif %}
            </div>
        </div>
        <div class="flex flex-col">
            <p class="font-['Rozha_One'] text-3xl mb-6">Linki</p>
            <div class="flex flex-col text-lg gap-2">
                <a href="{% url 'bookings_app:booking-search' %}">Zarezerwuj online</a>
                <a href="#">Regulamin wynajmu</a>
                <a href="#">Polityka prywatności</a>
                <a href="{% url 'users_app:user-login' %}" class="flex items-center gap-2 text-gray-500 mt-2" rel="nofollow">
                    <svg class="w-4 h-4 inline-block align-middle gap-2 fill-gray-500">
                        <use xlink:href="{% static 'img/sprite.svg#lockb' %}"
                            href="{% static 'img/sprite.svg#lockb' %}" />
                    </svg> Admin
                </a>
            </div>
        </div>
    </div>
    <div class="w-full px-2 py-4 bg-gray-200">
        <p class="mx-auto block text-center">
            &copy;{% now "Y" %} Apartamenty Biwakowa 4B |&nbsp;Wykonanie:&nbsp;<a href="mailto:luiza.cwik@gmail.com" class="outlined ml-auto">ISĆ</a>
        </p>
    </div>
</footer>
