{% load wagtailcore_tags bookings_tags %}
{% load static %}
<li>
    <a href="/#apartments" class="menu-close flex items-center gap-1 border-b-4 border-b-transparent transition-all duration-500
                hover:border-amber-50 ">Apartamenty</a>
</li>
<li>
    <a href="#" class="menu-close flex items-center gap-1 border-b-4 border-b-transparent transition-all duration-500
                hover:border-amber-50"> Okolica</a>
</li>
<li>
    <a href="#" class="menu-close flex items-center gap-1 border-b-4 border-b-transparent transition-all duration-500
                hover:border-amber-50">Kontakt</a>
</li>
<li>
    <a href="{% url 'bookings_app:booking-search' %}" class="menu-close flex items-center rounded-md py-1 px-3 border-4 bg-amber-300 shadow-sm
    border-amber-300 font-semibold transition-all duration-300 hover:bg-amber-200
    active:bg-amber-200 focus:bg-amber-200 ">Zarezerwuj</a>
</li>

