{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}
{% include 'includes/nav.html' %}
<main
    class="relative flex flex-col items-center min-h-[calc(100dvh-55px)] w-full bg-gradient-to-tl to-gray-300 from-blue-300">
    <div class="p-2 bg-gray-50 rounded-md m-2 my-6 pb-8 sm:m-6 sm:px-6 md:px-10 max-w-xl lg:max-w-5xl md:w-3/4">
        <h1 class="text-2xl text-center font-semibold my-6">
            {% if updating %} Edytuj rezerwację {% else %} Nowa rezerwacja {% endif %}</h1>
        {% for error in form.non_field_errors %}
        <div class="text-red-600 my-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        <form method="post" class="flex flex-wrap gap-3 md:gap-5 lg:gap-10 w-full justify-center">{% csrf_token %}
            <div class="flex flex-col gap-5">
                <div class="flex flex-row flex-wrap sm:no-wrap justify-around w-full gap-3">
                    <div class="flex flex-col w-full">
                        <label for="id_apartment">Apartament</label>
                        {{ form.apartment }}
                    </div>
                    <div class="flex flex-row flex-wrap gap-2 w-full justify-between">
                        <div class="flex flex-col basis-1 shrink-1 min-w-[47%]">
                            <label for="id_date_from">Zameldowanie</label>
                            {{ form.date_from }}
                        </div>
                        <div class="flex flex-col basis-1 shrink-1 min-w-[47%]">
                            <label for="id_date_to">Wymeldowanie</label>
                            {{ form.date_to }}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col w-full">
                        <label for="id_guest">Dane gościa</label>
                        {{ form.guest }}
                    </div>
                    <div class="flex flex-wrap justify-between w-full gap-2">
                        <div class="flex flex-col w-full">
                            <label for="id_email">E-mail</label>
                            {{ form.email }}
                        </div>
                        <div class="flex flex-col w-full">
                            <label for="id_phone">Telefon</label>
                            {{ form.phone }}
                        </div>

                    </div>
                </div>
                <div class="flex flex-col gap-5 ">
                    <div class="flex flex-row gap-3">
                        <div class="flex flex-col w-full justify-between">
                            <label for="id_total_price">Cena za pobyt</label>
                            {{ form.total_price }}
                        </div>
                        <div class="flex w-full items-center gap-2 justify-center">
                            {{ form.paid }}
                            <label for="id_paid">Zapłacone</label>
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <label for="id_notes">Dodatkowe informacje</label>
                        {{ form.notes }}
                    </div>
                    <button class="btn-admin uppercase" type="submit" value="Dodaj">Gotowe</button>
                </div>
            </div>
        </form>
    </div>
</main>

{% endblock %}