{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% block meta_tag %}
    <title>Rezerwacja internetowa</title>
    <meta name="description"
          content="Wyszukiwarka dostępnych terminów oraz rezerwacja internetowa apartamentów.">
{% endblock %}
{% block content %}
    {% include "includes/nav.html" %}
    <main>
        <section id="booking-form" class="mt-12 mb-6 px-2">
            <h1 class="font-semibold text-3xl sm:text-4xl text-center mb-4">Rezerwuj apartament</h1>
            <img src="{% static 'img/przelewy.png' %}"
                 alt="przelewy24 karty"
                 class="mx-auto w-40" />
            <form method="GET"
                  hx-get="{% url 'bookings_app:booking-search' %}"
                  hx-target="#results"
                  hx-swap="outerHTML"
                  hx-trigger="submit"
                  class="flex flex-col justify-center items-center pt-6 px-1 w-full mb-4"
                  id="bookings-search-results">
                <div class="daterangepicker flex flex-wrap items-center justify-center gap-2 my-3 p-2 md:p-4 border-2 rounded-md mx-auto">
                    <div class="flex flex-wrap justify-center items-center my-2">
                        <label for="id_arrival" class="mx-2">Data zameldowania:</label>
                        <div class="relative max-w-72">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="currentColor"
                                     viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input type="text"
                                   id="id_arrival"
                                   name="arrival"
                                   value="{{ arrival|date:'d.m.Y' }}"
                                   autocomplete="off"
                                   class="datepicker datepicker1 min-w-40 w-44 text-center bg-gray-50 border-2 border-blue-300
                                   text-gray-900 rounded-md focus:ring-amber-300 focus:border-amber-300 block  ps-10 p-2.5
                                   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                   dark:focus:border-blue-500"
                                   placeholder="dd.mm.rrrr">
                        </div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <div class="flex flex-wrap justify-center items-center my-2">
                            <label for="id_departure" class="mx-2 ">Data wymeldowania:</label>
                            <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                    </svg>
                                </div>
                                <input type="text"
                                       name="departure"
                                       id="id_departure"
                                       value="{{ departure|date:'d.m.Y' }}"
                                       autocomplete="off"
                                       class="datepicker datepicker2 min-w-40 w-44 text-center bg-gray-50 border-2 border-blue-300
                                        text-gray-900 rounded-md focus:ring-amber-300 focus:border-amber-300 block ps-10 p-2.5
                                        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                        dark:focus:border-blue-500"
                                       placeholder="dd.mm.rrrr">
                            </div>
                        </div>
                    </div>
                    <button type="submit"
                            name="submit"
                            class="btn-cta relative cursor-pointer my-2 mx-4 min-w-[180px] md:min-w-[195px]">
                        <span class="btn-text inline-block txt-content">Sprawdź dostępność</span>
                        <span class="loader hx-indicator"></span>
                    </button>
                </div>
            </form>
        </section>
        {% include 'bookings/fragments/search-results.html' %}
        <section id="booking-calendar"
                 hx-get="{% url 'bookings_app:calendars' %}"
                 hx-target="#booking-calendar"
                 hx-swap="innerHTML"
                 hx-trigger="load"
                 class="bg-gradient-to-tl to-gray-300 from-blue-300 py-6">
            <div class="flex flex-col sm:flex-row w-full justify-center items-center gap-4 pt-6 pb-12 relative">
                <h2 class="font-semibold text-2xl text-center ">Kalendarz rezerwacji:</h2>
                <span class="loader border-r-white"></span>
            </div>
        </section>
        <img src="{% static 'img/jezioro2.png' %}"
             class="-mt-10 relative inline-block w-full">
    </main>
    <div class="bg-gradient-to-tl to-gray-300 from-blue-300">{% include "includes/footer.html" %}</div>
    <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}
