{% extends 'base.html' %}
{% load wagtailcore_tags querystring_tag bookings_tags webpush_notifications %}
{% load static %}
{% block extra_head %}
 {% webpush_header %}
{% endblock %}
{% block content %}
{% include 'includes/nav.html' %}
<main class="flex flex-col items-center min-h-[calc(100dvh-55px)] w-full">
    <div class="flex items-center my-6 md:my-10 gap-3">
        <h1 class="text-2xl font-semibold text-center">Lista rezerwacji</h1>
        <button type="button" class="openModal btn-admin" data-toggle="modal"
        data-target="#notificationsModal">
            <svg class="w-6 h-6 inline-block align-middle gap-2 fill-black">
                <use xlink:href="{% static 'img/sprite.svg#bell' %}"
                    href="{% static 'img/sprite.svg#bell' %}" />
            </svg>
            <span class="sr-only">Ustawienia powiadomień</span>
        </button>
         <button type="button" class="btn-admin btn-filter lg:hidden">
            <svg class="w-6 h-6 inline-block align-middle gap-2 fill-black">
                <use xlink:href="{% static 'img/sprite.svg#filter' %}"
                    href="{% static 'img/sprite.svg#filter' %}" />
            </svg>
            <span class="sr-only">Filtrowanie</span>
        </button>
    </div>
    {% include 'includes/notifications-modal.html' %}
    <div class="collapsible max-h-0 opacity-0 invisible lg:visible lg:opacity-100 lg:max-h-full flex flex-wrap justify-center items-center gap-2  mb-3 px-1 md:px-2 lg:px-4">
        <a href="{% url 'bookings_app:upcoming_bookings' %}"  class="btn-admin cursor-pointer"
        {%if upcoming %} style="background-color:#fcd34d" rel="nofollow">{% endif %}
            <p>Pokaż nadchodzące</p>
        </a>
        <form method="get" hx-get="{% url 'bookings_app:bookings' %}" hx-target="#bookings-table"
            class="flex flex-wrap justify-center gap-2">
            {{ filter.form.as_p }}
            <button type="submit" class="btn-admin">Filtruj</button>
        </form>
        <a href="{% url 'bookings_app:bookings' %}"
            class="cursor-pointer inline-block text-blue-600 font-semibold" rel="nofollow">
            <p>Wyczyść filtry</p>
        </a>
    </div>
    </div>
    <div id="bookings-table"
        class="table-wrapper overflow-x-auto w-full max-w-full lg:max-w-[1100px] md:max-w-[90%] px-2 mb-10">
        {% include 'bookings/fragments/booking-table.html' %}
    </div>
</main>
<script src="{% static 'js/modal.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% endblock %}
