{% extends 'base.html' %}
{% load wagtailcore_tags bookings_tags querystring_tag filter_tags %}
{% load static %}
{% block content %}
{% include 'includes/admin-nav.html' %}
<main
    class="max-w-4xl mx-auto relative flex flex-col w-full min-h-[calc(70dvh-60px)] sm:min-h-[calc(100dvh-60px)] justify-center items-center gap-4">

    <h1 class="font-semibold text-xl sm:text-2xl px-2 text-center">Transakcja została przerwana.</h1>
    <div class="flex gap-2 flex-wrap justify-center items-center">
        <a href="/" class="btn-admin mt-3">&laquo;&nbsp;Wróć na stronę główną</a>
        <a href="/" class="btn-cta mt-3">Ponów płatność&nbsp;&raquo;</a>
    </div>

    <p class="sm:text-xl px-2 text-center mt-4">W razie pytań zapraszamy do kontaktu pod nr&nbsp;tel. 000
        000 000.
        </>
</main>

{% endblock %}