{% extends 'base.html' %}
{% load wagtailcore_tags bookings_tags %}
{% load static %}

{% block content %}
{% include 'includes/admin-nav.html' %}
<main>

<form action="{% url 'bookings_app:checkout' %}" method="post" class="flex flex-col items-center">
    {% csrf_token %}
    <h1 class="font-semibold text-2xl my-5">Formularz testowy</h1>
    <div>
        <label for="apartment">Apartament {% if booking.apartment.apartment_type == "midi" %} 2-osobowy {% else %} 4-osobowy {% endif %}nr</label>
        <input type="text" id="apartment" name="apartment" value="{{booking.apartment.name}}" class="border-0 w-min" readonly><br><br>
    </div>
    <div>
        <label for="arrival">Data zameldowania:</label>
        <input type="text" id="arrival" name="arrival" value="{{booking.date_from}}" class="border-0 w-min" readonly><br><br>
    </div>
    <div>
        <label for="departure">Data wymeldowania:</label>
        <input type="text" id="departure" name="departure" value="{{booking.date_to}}" class="border-0" readonly><br><br>
    </div>
    <div>
        <label for="nights">Ilość noclegów:</label>
        <input type="text" id="nights" name="nights" value="{{booking.nights_num}}" class="border-0" readonly><br><br>
    </div>
    <div class="mb-2">
        <label for="name">Imię i nazwisko:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div class="mb-2">
        <label for="phone">Telefon:</label>
        <input type="text" id="phone" name="phone" required>
    </div>
    <div class="mb-2">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <input type="hidden" name="booking" value="{{booking.id}}">

    <p><button type="submit" class="btn-admin">Przejdź do płatności</button></p>

  </form>
</main>

{% endblock %}