@font-face {
    font-family: "Rozha One";

    src:
        url("/static/fonts/rozhaone.woff2") format("woff2"),
        url("/static/fonts/rozhaone.woff") format("woff");

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: "Red Hat Text";

    src:
        url("/static/fonts/redhattext-italic.woff2") format("woff2"),
        url("/static/fonts/redhattext-italic.woff") format("woff");

    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Red Hat Text";

    src:
        url("/static/fonts/RedHatText-Medium.woff2") format("woff2"),
        url("/static/fonts/RedHatText-Medium.woff") format("woff");

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Red Hat Text";

    src:
        url("/static/fonts/RedHatText-SemiBold.woff2") format("woff2"),
        url("/static/fonts/RedHatText-SemiBold.woff") format("woff");

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Red Hat Text";

    src:
        url("/static/fonts/RedHatText-Bold.woff2") format("woff2"),
        url("/static/fonts/RedHatText-Bold.woff") format("woff");

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Red Hat Text";
    src:
        url("/static/fonts/RedHatText-Regular.woff2") format("woff2"),
        url("/static/fonts/RedHatText-Regular.woff") format("woff");

    font-weight: 400;
    font-style: normal;
}

.bg-header {
    background:
        linear-gradient(
            to top right,
            rgba(0, 0, 56, 0.4) 0%,
            rgba(0, 0, 56, 0.4) 100%
        ),
        url("/static/img/budynek.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.gallery-imglink {
    position: relative;
    display: block;

    &::before,
    &::after {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
    }
    &::before {
        content: "";
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &::after {
        content: url("/static/img/magnifying.svg");
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover::before,
    &:hover::after {
        opacity: 1;
    }
}
