@tailwind base;
@tailwind components;
@tailwind utilities;

select,
option {
    font-family: inherit;
}

.cal-item {
    @apply flex h-10 w-10 justify-center items-center rounded-md pb-1;
}

.btn-admin {
    @apply rounded-md border-4 px-2 py-1  bg-gray-300 shadow-md
                     border-gray-300 font-semibold transition-all duration-300 hover:bg-gray-200
                     active:bg-gray-200 focus:bg-gray-200;
}

.btn-cta {
    @apply rounded-md border-4 px-2 py-1 md:px-4  bg-amber-300 shadow-md
                     border-amber-300 font-semibold transition-all duration-300 hover:bg-amber-200
                     active:bg-amber-200 focus:bg-amber-200;
}

.selected,
.range-start {
    @apply text-black bg-blue-300;
}

.bookings-table {
    td,
    th {
        @apply border-2 p-2 text-center;
    }
}

.datepicker-grid {
    .disabled {
        @apply text-gray-400;
    }
}

/* delete modal */

.swal2-popup1 {
    @apply !relative !transform !overflow-hidden !rounded-lg !bg-white !text-left !shadow-xl !transition-all sm:!my-8 sm:!w-full sm:!max-w-lg !p-0 !grid-cols-none;
}

.swal2-icon1 {
    @apply !m-0 !mx-auto !flex !h-12 !w-12 !flex-shrink-0 !items-center !justify-center !rounded-full !border-0 !bg-red-100 sm:!h-10 sm:!w-10 !mt-5 sm:!mt-6 sm:!ml-6 !col-start-1 !col-end-3 sm:!col-end-2;
}

.swal2-title1 {
    @apply !p-0 !pt-3 !text-center sm:!text-left !text-xl !font-semibold !leading-6 !text-gray-900 !pl-4 !pr-4 sm:!pr-6 sm:!pl-0 sm:!pt-6 sm:!ml-4 !col-start-1 sm:!col-start-2 !col-end-3;
}
.swal2-html-container1 {
    @apply !mt-2 sm:!mt-0 !m-0 !text-base !text-center sm:!text-left !text-gray-800 !pl-4 sm:!pl-0 !pr-4 !pb-4 sm:!pr-6 sm:!pb-4 sm:!ml-4 !col-start-1 sm:!col-start-2 !col-end-3;
}
.swal2-actions1 {
    @apply !bg-gray-50 !px-4 !py-3 sm:!flex sm:!flex-row-reverse sm:!px-6 !w-full !justify-start !mt-0 !col-start-1 !col-end-3;
}
.swal2-confirm1 {
    @apply inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto;
}
.swal2-cancel1 {
    @apply mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto;
}
