@tailwind base;
@tailwind components;
@tailwind utilities;

select,
option {
    font-family: inherit;
}

.cal-item {
    @apply flex h-10 w-10 justify-center items-center rounded-md pb-1;
}

.btn-admin {
    @apply rounded-md border-4 px-2 py-1  bg-gray-300 shadow-md
                     border-gray-300 font-semibold transition-all duration-300 hover:bg-gray-200
                     active:bg-gray-200 focus:bg-gray-200;
}

.btn-cta {
    @apply rounded-md border-4 px-2 py-1 md:px-4  bg-amber-300 shadow-md
                     border-amber-300 font-semibold transition-all duration-300 hover:bg-amber-200
                     active:bg-amber-200 focus:bg-amber-200;
}

.selected,
.range-start {
    @apply text-black bg-blue-300;
}

.bookings-table {
    td,
    th {
        @apply border-2 p-2 text-center;
    }
}

.datepicker-grid {
    .disabled {
        @apply text-gray-400;
    }
}
