{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}
{% block meta_tag %}
    {% meta_tags %}
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}" />
{% endblock %}
{% block content %}
    <div class="page flex-col">
        {% include "includes/nav.html" %}
        <header class="flex justify-center items-center bg-header h-64">
            <h1 class="text-5xl sm:text-5xl md:text-6xl font-['Rozha_One'] text-white text-center p-2">
                Apartamenty <span class="whitespace-nowrap">{{ page.apartment_type.type_name.0 }}-osobowe</span>
            </h1>
        </header>
        <main class="bg-gray-50">
            <section id="description" class="apartment-description">
                <div class="flex flex-col md:flex-row w-full gap-4">
                    <div class="md:ml-auto md:max-w-[620px] basis-1/2 py-6 md:py-14 pr-3 pl-3 md:pr-0 text-lg leading-relaxed">
                        <h2 class="font-['Rozha_One'] text-3xl mb-6 mt-4 md:mt-0 px-2">{{ page.heading }}</h2>
                        {{ page.text_1|richtext }}
                    </div>
                    <figure class="relative basis-1/2 grow-0 overflow-hidden">
                        {% image page.image_1 width-800 as img %}
                        <img class="w-full h-full object-cover object-center"
                             src="{{ img.url }}"
                             width="{{ img.width }}"
                             height="{{ img.height }}"
                             alt="">
                        <figcaption class="flex items-center absolute top-[90%] sm:top-[92%] left-0 w-full h-[10%]
                                            sm:h-[8%] bg-gray-800 opacity-60 z-20">
                            <p class="text-white text-lg relative z-30 ml-4">{{ page.caption_1 }}</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="flex flex-wrap justify-evenly pt-6 xssm:pt-8 pb-4 xssm:pb-8 px-2 gap-4 xssm:gap-2
                            bg-gradient-to-br to-gray-200  from-blue-200 ">
                    <div data-aos="zoom-in" class="flex flex-col items-center justify-center">
                        <svg class="w-8 h-8 ssm:w-12 ssm:h-12 inline-block align-middle gap-2 fill-blue-900">
                            <use xlink:href="{% static 'img/sprite.svg#people' %}" href="{% static 'img/sprite.svg#people' %}" />
                        </svg>
                        <p class="ssm:text-lg">
                            max.
                            {% if page.apartment_type.type_name == "2-osobowy" %}
                                3
                            {% else %}
                                6
                            {% endif %}
                            os.
                        </p>
                    </div>
                    <div data-aos="zoom-in"
                         data-aos-delay="50"
                         class="flex flex-col items-center justify-center gap-2 fill-blue-900">
                        <svg class="w-8 h-8 ssm:w-12 ssm:h-12 inline-block align-middle">
                            <use xlink:href="{% static 'img/sprite.svg#bed' %}" href="{% static 'img/sprite.svg#bed' %}" />
                        </svg>
                        {% if page.apartment_type.type_name == "2-osobowy" %}
                            <p class="text-center ssm:text-lg">
                                2 połączone
                                <br class="block md:hidden">
                                łóżka
                            </p>
                        {% else %}
                            <p class="text-center ssm:text-lg">2 sypialnie</p>
                        {% endif %}
                    </div>
                    <div data-aos="zoom-in"
                         data-aos-delay="100"
                         class="flex flex-col items-center justify-center gap-2 fill-blue-900">
                        <svg class="w-8 h-8 ssm:w-12 ssm:h-12 inline-block align-middle">
                            <use xlink:href="{% static 'img/sprite.svg#sofa' %}" href="{% static 'img/sprite.svg#sofa' %}" />
                        </svg>
                        {% if page.apartment_type.type_name == "2-osobowy" %}
                            <p class="text-center ssm:text-lg">
                                rozkładana
                                <br class="block sm:hidden">
                                sofa
                            </p>
                        {% else %}
                            <p class="text-center ssm:text-lg">salon</p>
                        {% endif %}
                    </div>
                    <div data-aos="zoom-in"
                         data-aos-delay="150"
                         class="flex flex-col items-center justify-center">
                        <svg class="w-8 h-8 ssm:w-12 ssm:h-12 inline-block align-middle gap-2 fill-blue-900">
                            <use xlink:href="{% static 'img/sprite.svg#parking' %}" href="{% static 'img/sprite.svg#parking' %}" />
                        </svg>
                        <p class="ssm:text-lg">parking</p>
                    </div>
                    <div data-aos="zoom-in"
                         data-aos-delay="200"
                         class="flex flex-col items-center justify-center">
                        <svg class="w-8 h-8 ssm:w-12 ssm:h-12 inline-block align-middle gap-2 fill-blue-900">
                            <use xlink:href="{% static 'img/sprite.svg#wifi' %}" href="{% static 'img/sprite.svg#wifi' %}" />
                        </svg>
                        <p class="ssm:text-lg">WiFi</p>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row w-full gap-4 lg:gap-8">
                    <figure class="relative basis-1/2 grow-0 overflow-hidden order-3 md:order-1">
                        {% image page.image_2 width-800 as img2 %}
                        <img class="w-full h-full object-cover object-center"
                             src="{{ img2.url }}"
                             width="{{ img2.width }}"
                             height="{{ img2.height }}"
                             alt="">
                        <figcaption class="flex items-center absolute top-[90%] sm:top-[92%] left-0 w-full h-[10%] sm:h-[8%]
                                        bg-gray-800 opacity-60 z-20">
                            <p class="text-white text-lg relative z-30 ml-4">{{ page.caption_2 }}</p>
                        </figcaption>
                    </figure>
                    <div class="md:mr-auto md:max-w-[620px] basis-1/2 py-6 md:py-14 text-lg leading-relaxed pr-3 pl-3 md:pl-0 order-2">
                        {{ page.text_2|richtext }}
                    </div>
                </div>
            </section>
            <section id="photogallery">
                <div data-aos="fade-up"
                     class="py-8 px-2 bg-gradient-to-tl to-gray-200  from-blue-200 ">
                    <h3 class="text-3xl my-6 font-['Rozha_One'] text-center">
                        Apartament nr {{ apartment1 }}
                        - Galeria&nbsp;zdjęć
                    </h3>
                </div>
                <div data-aos="fade-up" class="flexbin flexbin-margin">
                    {% for gallery_image in page.gallery_images1.all %}
                        {% image gallery_image.image width-500 as img %}
                        {% image gallery_image.image original as img_full %}
                        <a href="{{img_full.url}}"
                        data-fslightbox="gallery"
                        data-alt="{{img.alt}}"
                        class="gallery-imglink">
                            <img src="{{img.url}}"
                                alt="{{img.alt}}"
                                loading="lazy"
                                class="rounded-md">
                            <span class="sr-only">Link do powiększonego zdjęcia</span>
                        </a>
                    {% endfor %}

                </div>
                <div data-aos="fade-up"
                     class="py-8 px-2 bg-gradient-to-tl to-gray-200  from-blue-200 ">
                    <h3 class="text-3xl my-6 font-['Rozha_One'] text-center">
                        Apartament nr {{ apartment2 }}
                        - Galeria&nbsp;zdjęć
                    </h3>
                </div>
                <div data-aos="fade-up" class="flexbin flexbin-margin">
                    {% for gallery_image in page.gallery_images2.all %}
                        {% image gallery_image.image width-500 as img %}
                        {% image gallery_image.image original as img_full %}
                        <a href="{{img_full.url}}"
                        data-fslightbox="gallery"
                        data-alt="{{img.alt}}"
                        class="gallery-imglink">
                            <img src="{{img.url}}"
                                alt="{{img.alt}}"
                                loading="lazy"
                                class="rounded-md">
                            <span class="sr-only">Link do powiększonego zdjęcia</span>
                        </a>
                    {% endfor %}
                  >Link do powiększonego zdjęcia</span></a>
                </div>
            </section>
        </main>
        <div class="bg-gradient-to-tl to-gray-200 from-blue-200">{% include "includes/footer.html" %}</div>
    </div>
    <div id="loading" class="bg-gradient-to-tl to-gray-300 from-blue-400">
        <div class="flex justify-center items-center text-amber-300 p-4 rounded-md bg-gray-100">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h1 class="font-['Rozha_One'] text-5xl text-black">B4B</h1>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/fslightbox.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
{% endblock %}
