{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags bookings_tags %}
{% load static %}

{% block content %}
{% comment %} <div style="height:100vh;"></div> {% endcomment %}
<main class="max-w-wrapper w-full mx-auto max-w-[1350px]">
    <div class="flex flex-col sm:flex-row w-full justify-center items-center gap-4 my-10">
        <h2 class="font-semibold text-2xl text-center text-yellow-800">Kalendarz rezerwacji: </h2>
        <div class="flex flex-row gap-3 items-center justify-center border-2 rounded-md">
            <a href="{% routablepageurl page 'calendar' previous_year previous_month %}#calendars" class="cal-link inline-block text-3xl pb-1 border-r-2 px-2  bg-gray-300">&laquo;</a>
            <p class="font-bold text-xl text-center text-gray-800 uppercase"> {{ displayed_month|date:"F Y"}}</p>
            <a href="{% routablepageurl page 'calendar' next_year next_month %}#calendars" class="cal-link inline-block text-3xl pb-1 border-l-2 px-2 bg-gray-300">&raquo;</a>
        </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:justify-center lg:gap-4">
        <div class="calendars flex flex-col sm:flex-row w-full justify-evenly" id="calendars">
            {% include 'includes/calendars.html' %}
        </div>
        <div class="flex flex-wrap flex-row lg:flex-col justify-center gap-3 md:items-left mt-4 flex-grow min-w-64 px-3">
            <div class="flex items-center pb-1 gap-2 ">
                <div class="h-10 w-10 rounded-md pb-1 border-2 bg-lime-200"> </div>
                <p class="w-max">termin wolny</p>
            </div>
            <div class="flex items-center pb-1 gap-2 max-w-max">
                <div class="h-10 w-10 rounded-md pb-1 border-2 bg-slate-100"> </div>
                <p class="w-max">termin zajęty</p>
            </div>
            <div class="flex items-center pb-1 gap-2 max-w-max">
                <div class="h-10 w-10 rounded-md pb-1 border-2"
                    style='background: linear-gradient(135deg,  rgb(241 245 249) 20%, rgb(217 249 157) 20%);'></div>
                <p class="w-max">tylko przyjazd</p>
            </div>
            <div class="flex items-center pb-1 gap-2 max-w-max">
                <div class="h-10 w-10 rounded-md pb-1 border-2"
                    style='background: linear-gradient(135deg, rgb(217 249 157) 30%, rgb(241 245 249) 30%);'> </div>
                <p class="w-max">tylko wyjazd</p>
            </div>

        </div>
    </div>
    <div class="text-center mt-10 px-3">
        <p>Minimalna długość pobytu wynosi 3 doby. </p>
        <p>W <span class="font-semibold text-yellow-700">okresie wakacyjnym</span>
            (lipiec/sierpień) minimalna długość pobytu wynosi
            <span class="font-semibold text-yellow-700">7 noclegów od niedzieli do niedzieli.</span></p>
    </div>
</main>
{{ first_day|json_script:"firstDay" }}

{% endblock%}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}