{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags i18n %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/magnific_popup.min.css' %}" />
{% endblock %}
{% block content %}
<header class="relative flex flex-col w-full min-h-dvh h-full justify-between">
    {% include 'includes/nav.html' %}
    <video playsinline autoplay muted poster="{% static 'img/lake.jpg' %}" id="lake"
        class="object-cover w-full h-full absolute left-0 top-0 ">
        <source src="{% static 'img/jezioro5.mp4' %}" type="video/mp4">
    </video>
    <div class="overlay absolute left-0 top-0 w-full h-full bg-gradient-to-bl to-blue-300  from-blue-500 opacity-60">
    </div>
    <div class="flex-col lg:flex-row flex justify-between gap-0 lg:gap-10 ">
        <div class="grid grid-cols-11 grid-rows-[repeat(6,_1fr)] z-30 basis-1/2 mt-2 lg:mt-6 px-2 ">
            <div class="border-4 border-amber-50 rounded-md col-start-6 col-end-12 row-start-1 row-end-4">
                <a class="image-link cursor-zoom-in" href="{% static 'img/sypialnialg.jpg' %}"><span class="sr-only inline-block">Powiększ zdjęcie</span>
                    <img src="{% static 'img/sypialnia.jpg' %}" alt="front budynku" class="inline-block w-full h-full object-cover" />
                </a>
            </div>
            <div class="border-4 border-amber-50 rounded-md col-start-1 col-end-7 row-start-2 row-end-6">
                <a class="image-link cursor-zoom-in" href="{% static 'img/sypialnialg.jpg' %}"><span class="sr-only">Powiększ zdjęcie</span>
                    <img src="{% static 'img/sypialnia.jpg' %}" alt="front budynku" class=" inline-block  w-full h-full object-cover" />
                </a>
            </div>
            <div class="border-4 border-amber-50 rounded-md col-start-5 col-end-10 row-start-3 row-end-7  ">
                <a class="image-link cursor-zoom-in" href="{% static 'img/sypialnialg.jpg' %}"><span class="sr-only">Powiększ zdjęcie</span>
                    <img src="{% static 'img/sypialnia.jpg' %}" alt="front budynku" class="inline-block  w-full h-full object-cover" />
                </a>
            </div>
        </div>
        <div
            class="flex flex-col justify-center lg:items-start gap-5 basis-1/2 z-30 px-2 mt-6 sm:mt-8 order-first lg:order-last py-10 lg:py-2 max-w-[95%] sm:max-w-[80%] mx-auto">
            <h1 class="font-bold text-5xl sm:text-6xl font-['Rozha_One']  md:text-left ">Apartamenty Biwakowa&nbsp;4B
            </h1>
            <h2 class="font-semibold text-3xl sm:text-4xl text-amber-50 md:text-left">Komfort nad Jeziorem Dużym
                w&nbsp;Turawie</h2>
        </div>
    </div>
    <a href="#aboutus" class="animated bounceInDown flex justify-center items-center  rounded-full uppercase border-4 border-amber-300 z-30 cursor-pointer
    font-semibold text-lg px-3 py-3 ml-auto mr-4 lg:mx-auto mt-3 mb-1 bg-opacity-20 bg-amber-300"><p class="sr-only">Czytaj dalej</p>
    <svg class="w-6 h-6 inline-block ">
        <use xlink:href="{% static 'img/sprite.svg#chevrondown' %}" href="{% static 'img/sprite.svg#chevrondown' %}" />
    </svg>
    </a>
</header>
<main class="bg-gray-50">
    <section id="aboutus"
        class="flex flex-col md:flex-row flex-wrap max-w-7xl mx-auto py-10 px-4 lg:px-1 sm:py-14 gap-8 md:gap-4 mb-5">
        <div class="flex flex-col basis-1/2 shrink text-lg gap-2 justify-between">
            <h3 class="font-['Rozha_One'] font-bold text-4xl mb-2">O nas</h3>
            <p>Mamy przyjemność zaprosić Państwa do świeżo wybudowanego (w 2024 r.) domu mieszczącego cztery apartamenty
                na wynajem.
                Obiekt dysponuje bezpłatnym parkingiem, WiFi, tarasem widokowym na dachu budynku. Wszystkie apartamenty
                zapewniają
                komfortowe wyposażenie. W pobliżu znajduje się piaszczysta plaża, promenada oraz wiele barów i
                restauracji.</p>
            <p>Turawa jest w naszym sercu od zawsze. Jej położenie wśród jezior i przepięknych obszarów leśnych sprawia,
                że jest doskonałym miejscem na wypoczynek.
            </p>
            <div class="ml-auto flex flex-col justify-center items-center mt-2">
                <p class="font-semibold">Serdecznie do nas zapraszamy!</p>
                <p>Urszula i Jarosław Duda</p>
            </div>
        </div>
        <div class="relative basis-2/5 shrink flex justify-center items-center mx-auto rounded-md shadow-xl">
            <img src="{% static 'img/sypialnia.jpg' %}" alt=""
                class="w-full h-full object-cover object-center rounded-md z-10">
            <!-- <div
                class="absolute flex justify-end gap-4 items-end -left-5 -bottom-10 h-40 w-full shadow-md rounded-md bg-gray-200">
                <svg class="w-6 h-6 inline-block align-middle mr-1 ml-1 mb-2 fill-gray-800">
                    <use xlink:href="{% static 'img/sprite.svg#wifi' %}" />
                </svg>
                <svg class="w-6 h-6 inline-block align-middle mr-1 ml-1 mb-2 fill-gray-800">
                    <use xlink:href="{% static 'img/sprite.svg#parking2' %}" />
                </svg>
                <svg class="w-6 h-6 inline-block align-middle mr-1 ml-1 mb-2 fill-gray-800">
                    <use xlink:href="{% static 'img/sprite.svg#umbrella' %}" />
                </svg>
                <svg class="w-6 h-6 inline-block align-middle mr-6 ml-1 mb-2 fill-gray-800">
                    <use xlink:href="{% static 'img/sprite.svg#eye' %}" />
                </svg>
            </div> -->
        </div>
    </section>
    <section id="apartments" class="w-full bg-gradient-to-tl to-gray-300 from-blue-300">
        <div class="flex flex-col gap-5 max-w-7xl mx-auto py-10 sm:py-14 px-4 lg:px-1 ">
            <h3 class="font-['Rozha_One'] font-bold text-4xl mb-6">Apartamenty</h3>
            <div class="flex flex-col md:flex-row gap-8">
                <div data-aos="flip-up" data-aos-duration="700"
                    class="flex flex-col ssm:flex-row  basis-1/2 bg-gray-100 h-full rounded-md shrink overflow-hidden shadow-lg">
                    <img src="{% static 'img/sypialnia.jpg' %}" alt=""
                        class="ssm:w-2/5 shrink-0  inline-block object-cover object-center">
                    <div class="px-4 pt-4 pb-6 flex flex-col">
                        <h4 class="font-['Rozha_One'] text-2xl mb-4 mt-2">Dwuosobowe
                            <br class="block ssm:hidden">(max. 3&nbsp;os.)
                        </h4>
                        <p>Składają się z salonu z w pełni wyposażonym aneksem kuchennym, łazienki z&nbsp;prysznicem
                            i&nbsp;
                            tarasu. Do wynajęcia dostępne są dwa apartamenty tego typu.
                        </p>
                        <button class="btn-admin mt-4 ml-auto">Zobacz szczegóły &raquo;</button>
                    </div>

                </div>
                <div data-aos="flip-up" data-aos-duration="700"
                    class="flex flex-col ssm:flex-row  basis-1/2 bg-gray-100 h-full rounded-md shrink overflow-hidden shadow-lg">
                    <img src="{% static 'img/sypialnia.jpg' %}" alt=""
                        class="ssm:w-2/5 shrink-0  inline-block object-cover object-center">
                    <div class="px-4 pt-4 pb-6 flex flex-col">
                        <h4 class="font-['Rozha_One'] text-2xl mb-4 mt-2">Czteroosobowe
                            <br class="block ssm:hidden">(max. 6&nbsp;os.)
                        </h4>
                        <p>Składają się z salonu z aneksem kuchennym, dwóch sypialni,
                            łazienki z prysznicem i tarasu. Są w pełni wyposażone.
                            Dysponujemy dwoma apartamentami tego typu.
                        </p>
                        <button class="btn-admin mt-4 ml-auto">Zobacz szczegóły &raquo;</button>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- <section id="neighborhood">
        <div class="flex flex-col gap-5 max-w-7xl mx-auto py-10 sm:py-14 px-4 lg:px-1 ">
            <h3 class="font-['Rozha_One'] font-bold text-4xl mb-6">Turawa i okolice</h3>

        </div>

    </section> -->
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/aos.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.image-link').magnificPopup({
            type: 'image',
            mainClass: 'mfp-with-zoom',
            zoom: {
                enabled: true,
                duration: 300,
                easing: 'ease-in-out',
                opener: function (openerElement) {
                    return openerElement.is('img') ? openerElement : openerElement.find('img');
                }
            }

        });
        AOS.init();
    });
</script>
{% endblock %}