{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags i18n wagtailmetadata_tags %}
{% block meta_tag %}
    {% meta_tags %}
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block content %}
    {% include 'includes/cookies.html' %}
    <div class="page flex-col">
    {% include "includes/nav.html" %}
    {% image page.header_image fill-1900x400 as img_large %}
    {% image page.header_image fill-800x300 as img_medium %}
    {% image page.header_image fill-480x300 as img_small %}
    <header class="relative flex justify-center items-center h-64
        {% if not page.header_image %}
        bg-header2
        {% endif %}">
        <h1 class="text-5xl sm:text-5xl md:text-6xl font-['Rozha_One'] text-white text-center p-2 z-10">
        {{ page.heading }}
        </h1>
        {% if page.header_image %}
        <picture>
            <source media='(min-width: 1024px)' srcset='{{img_large.url}}'>
            <source media='(min-width: 640px)' srcset='{{img_medium.url}}'>
            <img src='{{img_small.url}}' alt='{{img_small.alt}}' class='absolute inset-0 w-full h-full object-cover'>
        </picture>
        {% endif %}
        <div class="absolute inset-0 w-full h-full bg-black opacity-30 z-0"></div>
    </header>
    <main class="regulations bg-gray-50 py-6 md:py-14 px-2 md:px-6 lg:px-10">
        <div class="max-w-6xl mx-auto list-decimal">
        {{ page.content | richtext }}
        </div>
    </main>
    <div class="bg-gradient-to-tl to-gray-200 from-blue-200">{% include "includes/footer.html" %}</div>
    </div>
{% endblock %}